// Reset Mixin ---------------------------------------------------
@mixin normalize
	font-weight: normal
	font-style: normal

$fallbacks: 'helvetica neue', arial, helvetica, sans-serif
	

// Light ---------------------------------------------------------
@mixin univers-light
	+normalize
	font-family: "LinotypeUniversW01-Ligh 723631", $fallbacks

// Light Italic --------------------------------------------------
@mixin univers-light-italic
	+normalize
	font-family: "LinotypeUniversW01-Ligh 723634", $fallbacks

/* Regular -------------------------------------- */
@mixin univers
	+normalize

// Medium ----------------------------------------------------------
@mixin univers-medium
	+normalize
	font-family: "LinotypeUniversW01-Medi 723679", $fallbacks

// Bold ----------------------------------------------------------
@mixin univers-bold
	+normalize
	font-family: "LinotypeUniversW01-Bold 723697", $fallbacks

// Condensed Light -----------------------------------------------
@mixin univers-condensed-light
	+normalize
	font-family: "LinotypeUniversW01-Ligh 723625", $fallbacks

// Condensed Medium ----------------------------------------------
@mixin univers-condensed-medium
	+normalize
	font-family: "LinotypeUniversW01-Medi 723673", $fallbacks
	
// Condensed Ultra Light ----------------------------------------------
@mixin univers-ultra-light
	+normalize
	font-family: "LinotypeUniversW01-UltL 723589", $fallbacks

// Condensed Thin ----------------------------------------------
@mixin univers-thin 
	+normalize
	font-family: "LinotypeUniversW01-Thin 723610", $fallbacks

