/* Reset Mixin -------------------------------------- */
@mixin normalize
	font-weight: normal
	font-style: normal
	font-family: 'helvetica neue', arial, helvetica, sans-serif // for fallbacks
	

/* Light -------------------------------------- */
@mixin univers-light
	+normalize
	font-family: "LinotypeUniversW01-Ligh 723631"

/* Light Italic -------------------------------------- */
@mixin univers-light-italic
	+normalize
	font-family: "LinotypeUniversW01-Ligh 723634"

/* Bold -------------------------------------- */
@mixin univers-bold
	+normalize
	font-family: "LinotypeUniversW01-Bold 723697"

/* Condensed Light -------------------------------------- */
@mixin univers-condensed-light
	+normalize
	font-family: "LinotypeUniversW01-Ligh 723625"

/* Condensed Medium -------------------------------------- */
@mixin univers-condensed-medium
	+normalize
	font-family: "LinotypeUniversW01-Medi 723673"